.header {
    background-color: $bg-header;

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 25px 15px;
    }

    &__menu {
        background-color: #000;
        border-radius: 10px;
    }
}

.logo {
    line-height: 1;
    margin-bottom: 15px;

    &__title {
        font-size: 36px;
        color: #505050;
    }

    &__subtitle {
        margin-left: 2px;
    }
}


.nav {

    &__list {
        margin: 0;
        padding: 0;
        font-size: 0;
        background-color: #000;
        border-radius: 10px;
        display: flex;
    }

    &__item {
        list-style: none;
        position: relative;
    }

    &__link {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color: $navtext;
        text-transform: uppercase;
        text-decoration: none;
        padding: 20px 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: color 0.2s ease-in;
    
        &:hover {
            color: $navtext-hover;
        }
    }
}

.nav-sub__list {
    position: absolute;
    z-index: 10;
    min-width: 122px;
    top: 47px;
    opacity: 0;
    transition: 0.3s all;
    transform: translateX(50%) scale(0);
    transform-origin: left top;
    flex-direction: column;

    &--drop2 {
        top: 0;
        right: -88%;
        transform: translateX(-5%) scale(0);
        transform-origin: top left;
    }
}

.nav__drop2:hover {
    .nav-sub__list--drop2 {
        opacity: 1;
        transform:  translateX(0) scale(1);
    }
}

.nav__drop:hover {
    .nav-sub__list--drop {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}



