$white: #ffffff;
$grey-light: #ededed;
$grey: #e2e2e2;
$grey-medium: #bdbdbf;
$grey-dark: #666666;
$grey-medium-plus: #d8d8d8;

$orange: #ff5d30;

$main-color: $grey-dark;

$bg: $grey;
$bg-header: $white;
$bg-footer: $grey-light;

$navtext: $white;
$navtext-hover: $grey-medium;

$slidertext: $white;

$linkcolor: $orange;

$footer-border: $grey-medium-plus;