@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium.woff2") format("woff2"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-bold.woff2") format("woff2"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.header {
  background-color: #ffffff; }
  .header__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 15px; }
  .header__menu {
    background-color: #000;
    border-radius: 10px; }

.logo {
  line-height: 1;
  margin-bottom: 15px; }
  .logo__title {
    font-size: 36px;
    color: #505050; }
  .logo__subtitle {
    margin-left: 2px; }

.nav__list {
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: #000;
  border-radius: 10px;
  display: flex; }

.nav__item {
  list-style: none;
  position: relative; }

.nav__link {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: color 0.2s ease-in; }
  .nav__link:hover {
    color: #bdbdbf; }

.nav-sub__list {
  position: absolute;
  z-index: 10;
  min-width: 122px;
  top: 47px;
  opacity: 0;
  transition: 0.3s all;
  transform: translateX(50%) scale(0);
  transform-origin: left top;
  flex-direction: column; }
  .nav-sub__list--drop2 {
    top: 0;
    right: -88%;
    transform: translateX(-5%) scale(0);
    transform-origin: top left; }

.nav__drop2:hover .nav-sub__list--drop2 {
  opacity: 1;
  transform: translateX(0) scale(1); }

.nav__drop:hover .nav-sub__list--drop {
  opacity: 1;
  transform: translateX(0) scale(1); }

.slider {
  margin-top: 30px;
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px; }
  .slider__wrap {
    position: relative;
    overflow: hidden; }
  .slider__desc {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    line-height: 1.8;
    padding: 15px 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    animation: content-slider 4s infinite; }
  .slider__title {
    font-size: 20px;
    margin-bottom: 12px; }
  .slider__text {
    font-size: 13px; }

.paggination {
  position: absolute;
  top: 15px;
  right: 15px; }
  .paggination__list {
    padding: 0;
    margin: 0;
    font-size: 0; }
  .paggination__item {
    display: inline-block;
    list-style: none;
    margin-right: 5px; }
    .paggination__item:last-child {
      margin-right: 0; }
  .paggination__link {
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff; }
    .paggination__link--active {
      background-color: unset; }

@keyframes content-slider {
  0% {
    left: -420px; }
  10% {
    left: 40px; }
  15% {
    left: 20px; }
  30% {
    left: 20px;
    box-shadow: 0px 0px 43px 3px #ffd500; }
  35% {
    left: 20px; }
  40% {
    left: 20px;
    box-shadow: 0px 0px 43px 3px rgba(255, 213, 0, 0); }
  45% {
    left: 20px; }
  50% {
    left: 20px;
    box-shadow: 0px 0px 43px 3px #ffd500; }
  55% {
    left: 20px; }
  60% {
    left: 20px;
    box-shadow: 0px 0px 43px 3px rgba(255, 213, 0, 0); }
  65% {
    left: 20px; }
  70% {
    left: 20px;
    box-shadow: 0px 0px 43px 3px #ffd500; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }

.news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .news__item {
    width: 300px;
    margin: 0 10px 40px; }
  .news__title {
    font-size: 26px;
    margin-bottom: 24px; }
  .news__img {
    margin-bottom: 24px; }
  .news__desc-text {
    line-height: 1.4;
    margin-bottom: 20px; }
    .news__desc-text:last-child {
      margin-bottom: 15px; }
  .news__desc-link {
    color: #ff5d30;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: border 0.5s; }
    .news__desc-link:hover {
      border-bottom-color: #ff5d30; }

.gallery {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px; }
  .gallery__big {
    margin-right: 20px;
    margin-bottom: 10px; }
  .gallery__wrap {
    display: flex;
    flex-wrap: wrap; }
  .gallery__title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 30px; }
  .gallery__group {
    max-width: 372px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .gallery__img {
    max-width: 120px;
    min-width: 100px;
    margin-bottom: 10px; }

.footer {
  border-top: 1px solid #d8d8d8;
  background-color: #ededed; }
  .footer__info {
    margin-top: 27px;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer__item {
    max-width: 300px;
    padding: 0 10px;
    margin-bottom: 20px; }
  .footer__copyright {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px; }
    .footer__copyright-block {
      padding: 25px 0; }
    .footer__copyright-info {
      margin-right: 15px; }

.newsletter {
  margin-bottom: 30px; }
  .newsletter__title {
    font-size: 20px;
    margin-bottom: 12px; }
  .newsletter__desc {
    font-size: 12px;
    color: #989898;
    line-height: 1.4; }

@media screen and (min-width: 320px) and (max-width: 959px) {
  .footer__info {
    justify-content: center; } }

.form__email, .form__submit {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  background: linear-gradient(0deg, #dadada, #f6f6f6);
  font-size: 13px;
  width: 67%;
  transition: background 0.5s, border 0.5s; }
  .form__email:focus, .form__submit:focus {
    background: #fff; }
  .form__email:hover, .form__submit:hover {
    border-color: #ff5d30; }

.form__submit {
  text-transform: uppercase;
  color: #ff5d30;
  margin-left: 9px;
  cursor: pointer;
  width: 28%; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .form__email, .form__submit {
    width: 189px; }
  .form__submit {
    width: 71px;
    padding-left: 10px;
    padding-right: 10px; }
  .gallery__big {
    margin-right: 0; }
  .gallery__group {
    justify-content: space-around; } }

.social__title {
  font-size: 20px;
  color: #666666;
  margin-bottom: 15px; }

.social__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #666666; }
  .social__link:hover .social__link-icon {
    background-color: #ff5d30; }
  .social__link:hover .social__link-text {
    border-bottom-color: #ff5d30; }

.social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0; }

.social__item {
  flex-basis: 130px;
  list-style: none;
  margin-bottom: 15px; }

.social__link-icon {
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  transition: background 0.5s; }

.social__link-text {
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.5s; }

.blog {
  max-width: 300px;
  padding: 0 10px; }
  .blog__msg {
    margin-bottom: 15px; }
  .blog__header {
    font-size: 20px;
    margin-bottom: 12px; }
  .blog__title {
    font-weight: 500;
    margin-bottom: 4px; }
  .blog__text {
    font-size: 12px;
    line-height: 1.6; }
  .blog__link-wrap {
    text-align: right; }
  .blog__link-more {
    color: #ff5d30;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: border 0.5s; }
    .blog__link-more:hover {
      border-bottom-color: #ff5d30; }

.twitter {
  max-width: 300px;
  padding: 0 10px; }
  .twitter__header {
    font-size: 20px;
    margin-bottom: 12px; }
  .twitter__msg {
    font-size: 12px;
    line-height: 1.4; }
  .twitter__text {
    font-size: 12px; }
  .twitter__author {
    font-size: 11px; }
  .twitter__link-wrap {
    text-align: right; }
  .twitter__link-more {
    color: #ff5d30;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: border 0.5s; }
    .twitter__link-more:hover {
      border-bottom-color: #ff5d30; }

* {
  box-sizing: border-box; }

body {
  background-color: #e2e2e2;
  margin: 0;
  font-size: 13px;
  font-family: "ubuntu", sans-serif;
  color: #666666; }

img {
  display: block;
  width: 100%;
  height: auto; }

.container {
  max-width: 990px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */