.form {
    &__email {
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #d1d1d1;
        background: linear-gradient(0deg, #dadada, #f6f6f6);
        font-size: 13px;
        width: 67%;
        transition: background 0.5s, border 0.5s;

        &:focus {
            background: #fff;
        }

        &:hover {
            border-color: $linkcolor;
        }

    }
    &__submit {
        @extend .form__email;
        text-transform: uppercase;
        color: $linkcolor;
        margin-left: 9px;
        cursor: pointer;
        width: 28%;
    }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    
    .form__email {
        width: 189px;
    }

    .form__submit {
        width: 71px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .gallery__big {
        margin-right: 0;
    }

    .gallery__group {
        justify-content: space-around;
    }




}


