.slider {
    margin-top: 30px;
    margin-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;

    &__wrap {
        position: relative;
        overflow:hidden;
    }

    &__desc {
        width: 400px;
        background-color: rgba(0, 0, 0, 0.6);
        color: $slidertext;
        line-height: 1.8;
        padding: 15px 20px;
        position: absolute;
        bottom: 20px;
        left: 20px;

        animation: content-slider 4s infinite;
        
    }

    &__title {
        font-size: 20px;
        margin-bottom: 12px;
    }

    &__text {
        font-size: 13px;
    }

}

.paggination {
    position: absolute;
    top: 15px;
    right: 15px;

    &__list {
        padding: 0;
        margin: 0;
        font-size: 0;
    }

    &__item {
        display: inline-block;
        list-style: none;
        margin-right: 5px;
    
        &:last-child {
            margin-right: 0;
        }
    }

    &__link{
        display: block;
        border: 2px solid #fff;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: #fff;
    
        &--active {
            background-color: unset;
        }
    }
}


  
@keyframes content-slider {
    0%{
        left:-420px;
    }
    10%{
        left:40px;
    }
    15%{
        left:20px;
    }
    30%{
        left:20px;
    }
    40%{
        left:20px;
    }
    50%{
        left:20px;
    }
    60%{
        left:20px;
    }
    80%{
        left:-420px;
    }
    90%{
        left:-420px;
    }
    100%{
        left:-420px;
    }
}
   



  